body, div {
    margin: 0;
    padding: 0;
    border: 0;
}
div#intro {
    cursor: pointer;
}
div#game {
}
div#profileBar {
    margin: 0 auto;
    border: 1px solid black;
}
div#map {
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid black;
}
div.row {
    height: 44px;
}
div.cell {
    position: relative;
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 2px solid transparent;
}
div#map div.cell:hover {
    border: 2px solid red;
}
div.row.sky {
    background-color: lightskyblue;
}
div.row.ground {
    background-color: forestgreen;
}
div.row.crust {
    background-color: darkslategrey;
}
div.row.underground {
    background-color: darkgoldenrod;
}
div.row.magma {
    background-color: orangered;
}
div#contextMenu {
    position: absolute;
    width: 150px;
    background-color: white;
    cursor: pointer;
    display: none;
}
div.contextMenuRow {
    width: 148px;
    border: 1px solid black;
    height: 44px;
    vertical-align: top;
}
div.contextMenuRow:hover {
    background-color: limegreen;
}
div.cell.cross:before, div.cell.junction:before, div.cell.pipe:before, div.cell.turn:before {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    top: -2px;
    left: -2px;
}
div.cell.cross:before {
    background: url('../images/cross.png') no-repeat;
    background-size: 44px 44px;
}
div.cell.junction:before {
    background: url('../images/junction.png') no-repeat;
    background-size: 44px 44px;
}
div.cell.pipe:before {
    background: url('../images/pipe.png') no-repeat;
    background-size: 44px 44px;
}
div.cell.turn:before {
    background: url('../images/turn.png') no-repeat;
    background-size: 44px 44px;
}
div.cell.shit:before {
    background: black;
    background-size: 44px 44px;
}
div.cell.rotate90:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
div.cell.rotate180:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
div.cell.rotate270:before {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}